.login-form{
	
}

.page-login{
	margin-top: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	/* flex-direction: column; */

}

.btn-login{
	align-items: center;
	justify-content: center;
	display: flex;
	background: rgba(90, 87, 194, 1);
	color: white;
	border-radius: 26px;
	border: 1px solid rgba(90, 87, 194, 1);
	width: fit-content;
	/* padding: 1rem 2rem 1rem 2rem; */
	height: 3rem;
	width: 7rem;
	text-decoration: none;
}

.btn-div{
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.outer-card{
	margin-top: 5rem;
}

.login-body{
	align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 400px) 
{
    .form-control{
		width:100%
	}
}