.navbar-custom ul{
	margin-left: auto !important;
}


.menu_active{
	font-weight: bold;
	font-size: 1rem !important;
	color: rgba(140, 198, 63, 1) !important;
}

.navbar-resize{
	/* height: 8rem; */

}

.blur-three{
	/* position: relative;
	background: rgba(225, 69, 69, 0.2);
	width: 45%;
	height: 80%;
	border-radius: 50%;
	top:-15%;
	left: -10%; */
	z-index: 9999;
	/* cursor: pointer; */
}